<div class="row main_content">
      <div class="col s6 text_section">
          <div class="welcome_text">
              <h1>Welcome</h1>
          </div>
          <div class="page_des">
             <h5> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident eum porro quibusdam ea est laborum pariatur blanditiis animi mollitia harum?</h5>
          </div>
          <div class="link">
              <a href="/auth/google" class="btn waves-effect waves-light btn-large blue  darken-2">
               Sign up
              </a>
          </div>
      </div>
      <div class="col s6 img_section">
          <div>
          <img src="img/undraw_wall_post_83ul.svg" alt="svg file" class="wallpaper">
          </div>
      </div>
</div>
